<h1><%= @article.title %></h1>

<hr>

<p><span class="glyphicon glyphicon-time"></span>
  <%= @article.created_at %>
</p>

<p>
  <% if @article.image.exists? %>
    <%= image_tag @article.image.url %>
  <% end %>
</p>

<hr>

<p class="lead"><%= @article.body %></p>
<p>
  Tags:
  <% @article.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</p>

<hr>

<% if logged_in?%>
<div class="btn-group btn-group-justified" role="group">
  <div class="btn-group" role="group">
    <%= button_to "Edit", edit_article_path(@article), method: :get, class: "btn btn-default" %>
  </div>
  <div class="btn-group" role="group">
    <%= button_to "Delete", article_path(@article),
    method: :delete,
    data: {confirm: "Really delete the article?"}, class: "btn btn-default" %>
  </div>
</div>
<% end %>

<hr>

<h3>Comments (<%= @article.comments.size %>)</h3>
<%= render partial: 'comments/form' %>
<%= render partial: 'articles/comment', collection: @article.comments %>
