<!DOCTYPE html>
<html>
  <%= render partial: '/layouts/head' %>

  <body>
    <%= render partial: '/layouts/nav' %>
    <div class="container col-md-6 col-md-offset-3">
      <div class="row">
        <% if flash.notice %>
          <div class="alert alert-success"><%= flash.notice %></div>
        <% end %>
        
        <%= yield %>

        <%= render partial: '/layouts/foot' %>
      </div>
    </div>


  </body>
</html>
