<!DOCTYPE html>
<html>
  <%= render partial: '/layouts/head' %>

  <body>
    <%= render partial: '/layouts/nav' %>
    <div class="container col-md-6 col-md-offset-3">
      <div class="row">

        <p><%= flash.notice %></p>

        <%= yield %>

        <%= render partial: '/layouts/foot' %>
      </div>
    </div>


  </body>
</html>
